.new__story__container {
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgb(54, 51, 51);
    border-radius: 10px;
}

.new__story__container .story__form__invalid {
    color: red;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.new__story__container h2 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    max-width: max-content;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px black;
}


.new__story__container form {
    display: flex;
    flex-direction: column;
}

.new__story__text__image {
    display: flex;
    flex-direction: column;
}

.new__story__title {
    padding: 5px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.new__story__text__image textarea {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    min-height: 250px;
    overflow: auto;
    font-size: 0.7rem;
}

.new__story__image {
    margin: 10px auto 40px;
    height: 150px;
    width: 120px;
    background-color: black;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.add__image {
    flex: 1;
    text-align: center;
    padding-top: 5px;
    box-shadow: 0 2px 22px white;
    background-color: rgb(204, 245, 110);
    color: grey;
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__preview {
    flex: 4;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 0px 2px 12px black;
}

.image__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new__story__image__input {
    display: none;
}

.new__story__options {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.check__container {
    display: block;
    width: 70%;
    margin: 5px auto;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: 0 2px 10px black;
    font-size: 0.9rem;

}

.check__container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0
}

.check__container span {
    display: flex;
    justify-content: space-between;
}

.private,
.comments {
    color: grey;
}

.private__checked,
.comments__checked {
    color: white;
}


.check_mark {
    width: 12%;
    color: grey;
    font-weight: bold;
    font-size: 0.9rem;
}

.check_mark_checked {
    color: white;
}

.story__submit__btn {
    width: 100px;
}


.new__story__container form textarea:focus,
.new__story__container form input:focus {
    outline: none;
    box-shadow: 0px 6px 15px rgb(204, 245, 110);
    color: rgb(100, 81, 81);
}


@media screen and (min-width: 768px) {
    .new__story__container {
        width: 80%;
    }

    .new__story__container .story__form__invalid {
        padding: 10px;
        margin: 0 auto 10px;
        max-width: max-content;
        font-size: 0.9rem;
    }

    .new__story__title {
        font-size: 1.2rem;
        width: 50%;
    }

    .new__story__text__image textarea {
        width: 65%;
        min-height: 350px;
        font-size: 0.9rem;
    }

    .new__story__image {
        width: 22%;
        height: 250px;
    }

    .add__image {
        font-size: 1.2rem;
    }

    .add__image:hover {
        background-color: rgb(54, 52, 52);
        cursor: pointer;
    }

    .new__story__text__image {
        flex-direction: row;
        margin-top: 20px;
    }

    .new__story__options {
        justify-content: flex-start;
        flex-direction: row;
        margin: 20px;
    }

    .check__container {
        width: 20%;
        cursor: pointer;
    }

    .check__container:hover {
        transform: scale(1.1)
    }
}