.user__profile__content__container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 150px;
    position: relative;
}

.user__profile__button__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px black;
    background-color: rgb(54, 51, 51);
    padding: 1px;
    border-radius: 4px;
}

.content__choose__button {
    width: 60%;
    margin: auto;
    border: none;
    margin-top: 8px;
    padding: 5px;
    font-family: 'Abril Fatface', cursive;
    font-size: 1rem;
    border-left: 5px solid rgba(0, 0, 0, 0.6);
    background-color: rgb(117, 117, 117);
    color: white;
    letter-spacing: 1.7px;
    border-radius: 3px;
}

.choose__button__active {
    border-left: 5px solid rgb(204, 245, 110);
    color: rgb(204, 245, 110);
}

.workout__is__saved {
    position: relative;
    top: 0px;
    background-color: rgb(110, 172, 18);
    color: rgb(204, 245, 110);
    max-width: fit-content;
    margin: 3px auto;
    padding: 5px 20px;
    font-size: 0.7rem;
    border-radius: 4px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .user__profile__button__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content__choose__button {
        min-width: 150px;
        max-width: 150px;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .content__choose__button:hover {
        cursor: pointer;
        border-left: 5px solid rgb(204, 245, 110);
        color: rgb(204, 245, 110);
    }

    .workout__is__saved {
        margin: 5px auto;
        font-size: 1rem;
    }
}