.workoutDay__main__container {
    width: 95%;
    margin: 10px auto;
    padding: 5px;
    padding-bottom: 100px;

}

.workoutDay__title__container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.workoutDay__title__container h3 {
    margin: 0px;
    text-align: center;
    padding: 5px 10px;
    color: rgb(204, 245, 110);
    font-size: 1rem;
    box-shadow: 0 2px 10px black;
    background-color: rgb(54, 51, 51);
    font-family: 'Abril Fatface', cursive;
}

.workoutDay__title__container button {
    border: none;
    width: max-content;
    margin: 0 auto 15px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background-color: rgb(117, 79, 79);
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px black;
}

.workoutDay__title__container button[data-deleteconfirmed] {
    background-color: red;
    position: relative;
}

.workoutDay__title__container a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .workoutDay__main__container {
        width: 70%;
    }

    .workoutDay__title__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .workoutDay__title__container h3 {
        text-align: right;
        font-size: 2rem;
    }

    .workoutDay__title__container a {
        margin-right: 20px;
        font-size: 1rem;
    }

    .workoutDay__title__container button {
        margin: 0;
        width: auto;
        padding: 5px 10px;
        align-self: center;
        font-size: 1rem;
    }

    .workoutDay__title__container button:hover {
        cursor: pointer;
        background-color: rgb(146, 66, 66);
    }

    .workoutDay__title__container button[data-deleteconfirmed]:hover {
        background-color: red;
    }
}