.cv__aboutProject__container {
    padding: 5px;
}

.cv__aboutProject__container div {
    box-shadow: 0 2px 12px black;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(54, 51, 51);
    margin-bottom: 10px;
}

.cv__aboutProject__container div h3 {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 3px;
}

.cv__aboutProject__container div p {
    text-align: justify;
    font-size: 0.7rem;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    line-height: 1.6rem;
}

@media screen and (min-width: 768px) {
    .cv__aboutProject__container div h3 {
        font-size: 1.5rem;
        margin-right: 5px;
        margin-bottom: 10px;
        color: rgb(139, 132, 132);
        text-align: center;
    }

    .cv__aboutProject__container div p {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 30px;
    }
}