.cv__aboutMe__container {
    padding: 10px;
}

.cv__aboutMe__container div {
    box-shadow: 0 2px 12px black;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(54, 51, 51);
    margin-bottom: 5px;
}

.cv__aboutMe__container div h3 {
    margin: 0px;
    font-size: 0.8rem;
    color: white;
}

.cv__aboutMe__container div p {
    text-align: justify;
    font-size: 0.7rem;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .cv__aboutMe__container div h3 {
        font-size: 1.1rem;
        margin-bottom: 2px;
    }

    .cv__aboutMe__container div p {
        font-size: 1rem;
    }
}