.cv__coding__container {
    width: 98%;
    margin: 10px auto;
    background-color: rgb(54, 51, 51);
    padding: 5px;
}

.cv__coding__title {
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 1px solid greenyellow;
    color: white;
}

.cv__coding__stack__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cv__coding__stack__item__btn {
    margin: 5px;
    border: none;
    background-color: rgb(70, 66, 66);
    padding: 4px 10px;
    border-radius: 3px;
    width: max-content;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}

.cv__coding__stack__item__btn:hover {
    background-color: rgb(152, 182, 82);
    cursor: pointer;
}

.active__stack__btn {
    background-color: rgb(152, 182, 82);
}

.cv__coding__stack__description {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: justify;
}

.cv__coding__framework {
    box-shadow: 0 2px 5px black;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(51, 48, 48);
    width: 70%;
    margin: 25px auto;
}

.cv__coding__framework h4,
p {
    margin: 0;
}

.cv__coding__framework h4 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.cv__coding__framework p {
    padding: 15px;
    font-size: 0.8rem;
    text-align: justify;
    color: white;
}

.cv__coding__framework span {
    color: greenyellow;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .cv__coding__container {
        padding: 15px;
    }

    .cv__coding__title {
        text-align: right;
        font-size: 1.2rem;
    }

    .cv__coding__stack__items {
        flex-direction: row;
    }

    .cv__coding__stack__item__btn {
        padding: 4px 10px;
        font-size: 1.2rem;
    }

    .cv__coding__stack__description,
    .cv__coding__framework p {
        font-size: 1rem;
    }

    .cv__coding__framework span {
        color: greenyellow;
        font-size: 1.2rem;
    }
}