.connections__feed__container {
    position: relative;
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.connections__feed__block {
    padding: 5px;
    margin-top: 45px;
    border-radius: 10px;
    border: 3px solid rgb(54, 51, 51);
    background-color: whitesmoke;
}

.connections__feed__block h4 {
    margin: 0 0 15px;
    padding: 10px;
    background-color: rgb(204, 245, 110);
    background-color: rgb(54, 51, 51);
    color: white;
    border-radius: 5px;
    text-align: center;
    /* color: rgba(0, 0, 0, 0.671); */
    font-family: 'Staatliches', cursive;
    letter-spacing: 1.5px;
}

.connections__feed__block__items {
    max-height: 530px;
    width: 100%;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .connections__feed__container {
        width: 75%;
    }

    .connections__feed__block h4 {
        text-align: left;
    }
}