.sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.6);
}

.icon-element {
    font-size: 0.9rem;
    margin: 2px;
    padding: 0px 10px;
    color: rgb(204, 245, 110);
}

.active {
    color: white;
}



@media screen and (min-width: 768px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 4%;
        position: absolute;
        left: 8px;
        top: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .icon-element {
        font-size: 1.6rem;
        margin-top: 25px;
        color: white;
    }

    .icon-element:hover {
        cursor: pointer;
        color: rgb(204, 245, 110);
    }

    .active {
        color: rgb(204, 245, 110);
        transform: scale(1.105)
    }
}