.message__box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.7rem;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px black;
}

.message__box img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.message__box__photo__name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__box__name,
.message__box__connected__status {
    color: rgb(204, 245, 110);
    margin: 2px;
    font-size: 2.2vw;
    letter-spacing: 1px;
}

.message__box__name {
    color: white;
}

.not__connected {
    color: red;
    text-decoration: line-through;
}

.message__box__right {
    background-color: rgba(248, 244, 244, 0.1);
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}

.no__new__messages,
.is__new__messages {
    padding: 4px;
}

.no__new__messages {
    color: white;
    font-size: 0.6rem;
}

.is__new__messages {
    color: rgb(204, 245, 110);
    font-size: 0.5rem;
}

.message__count {
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 0.8rem;
}

.message__feed {
    margin-top: 15px;
    padding: 0px 8px;
    max-height: 500px;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .message__feed {
        max-height: 700px;
    }

    .message__box {
        cursor: pointer;
        margin-bottom: 15px;
    }

    .message__box img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }

    .message__box__photo__name {
        flex-direction: row;
        width: 70%;
        justify-content: space-evenly;
    }

    .message__box__name,
    .message__box__connected__status {
        font-size: 1.7vw;
    }

    .no__new__messages,
    .is__new__messages {
        font-size: 1rem;
    }

    .message__count {
        font-size: 1.2rem;
    }
}