.modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toClose__modal__everlay {
    top: 55px;
    width: 100%;
    height: 94.1vh;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 30px 2px 30px black;
}