.change__image {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image__container {
    box-shadow: 2px 2px 20px rgb(204, 245, 110);
    border-radius: 4px;
    padding: 10px;
}

.image__container img {
    max-width: 100px;
    box-shadow: 2px 2px 20px black;
    border-radius: 4px;
}

.image__buttons__container {
    display: flex;
    flex-direction: column;
}

.image__buttons__container button {
    text-transform: uppercase;
    padding: 5px;
    margin: 2px;
    position: relative;
    bottom: 30px;
    background-color: rgb(204, 245, 110);
    border: none;
    border-radius: 5px;
    color: rgb(100, 81, 81);
    font-weight: bold;
    box-shadow: 0px 2px 2px black;
    font-size: 0.5rem;
}

.image__buttons__container .save__button {
    color: white;
    background-color: red;
}

@media screen and (min-width: 768px) {
    .change__image {
        width: 35%;
    }

    .image__container img {
        max-width: 250px;
    }

    .image__buttons__container {
        min-width: 20%;
    }

    .image__buttons__container button {
        font-size: 1rem;
    }

    .image__buttons__container button:hover {
        cursor: pointer;
        box-shadow: 0px 4px 4px black;
    }
}