.connections__online__container {
    display: none;
}

@media screen and (min-width: 786px) {
    .connections__online__container {
        width: 100%;
        margin: 0 auto;
        border: 1px solid red;
        max-height: fit-content;
        max-height: 75vh;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .connections__online__container {
        max-width: 25%;
        margin-left: 0;
    }
}