.cv__data__content__container {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .cv__data__content__container {
        margin-top: 5px;
        margin-left: 20px;
    }
}