.story__header__container {
    width: 82%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: rgb(54, 51, 51);
}

.left__side p {
    margin: 0;
    padding: 5px 10px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: max-content;
    box-shadow: 0 2px 12px black;
    border-radius: 4px;
}

.right__side__stories__stats {
    width: 95%;
    margin: 8px auto;
}

.story__stat {
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: 6px;
    background-color: rgb(87, 83, 83);
    box-shadow: 0 2px 12px black;
}

.story__stat .story__stat__title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6rem;
}

.story__stat .story__stat__result {
    font-size: 0.7rem;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(54, 51, 51);
}


@media screen and (min-width: 768px) {

    .left__side {
        width: 30%;
    }

    .left__side p {
        font-size: 2.3rem;
    }

    .story__stat {
        width: 60%;
        margin: 10px auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .story__stat .story__stat__title {
        align-self: center;
        font-size: 0.9rem;
    }

    .story__stat .story__stat__result {
        font-size: 1rem;
        margin: 0;
    }
}