.message__modal__overlay {
    position: fixed;
    z-index: 20;
    width: 100%;
    top: -50px;
    height: 110%;
    background-color: rgba(75, 75, 67, 0.795);
    overflow: hidden;
}

.message__modal {
    position: fixed;
    z-index: 22;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: -350px auto;
    height: 440px;
    left: 0px;
    right: 0px;
    border-radius: 5px;
}

.message__invalid {
    color: white;
    margin: 0;
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
}

.message__modal__name {
    color: white;
    font-size: 0.9rem;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    border-bottom: 5px solid grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;

}

.message__modal__close {
    position: absolute;
    top: 6px;
    right: 20px;
    background-color: rgb(145, 138, 138);
    border-radius: 50%;
    color: white;
    padding: 0px 5px 0px 6px;
    font-size: 1.2rem;
}

.message__modal__send {
    background-color: rgb(5, 5, 5);
    padding: 50px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0px 1px 10px white;
}

.message__modal__send textarea {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 110px;
    resize: none;
    border-radius: 15px;
}

.message__modal__send textarea:focus {
    border: 1px solid rgb(204, 245, 110);
    outline: none;
}

.message__modal__send button {
    border: none;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgb(34, 32, 32);
    font-size: 0.8rem;
    color: white;
    color: rgb(204, 245, 110);
    font-weight: bold;
    padding: 10px 15px;
    box-shadow: 0px 2px 4px rgb(204, 245, 110);
}

.message__sent__success {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.message__sent__success a {
    color: white;
    margin-top: 20px;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .message__modal {
        width: 30%;
    }

    .message__modal__close {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.459);
    }

    .message__modal__close:hover {
        background-color: rgb(99, 96, 96);
    }

    .message__modal__send button {
        cursor: pointer;
    }

    .message__modal__send button:hover {
        background-color: rgb(78, 75, 75);
    }

    .message__sent__success {
        font-weight: bold;
        font-size: 1.2rem;
    }
}