.content__feed__type__box__bottom {
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 2px 5px black;
    border-radius: 2px;
    background-color: whitesmoke;
    color: white;
}

.content__feed__type__box__bottom p {
    margin: 0;
    font-size: 0.7rem;
    color: rgb(107, 128, 108);
    font-weight: bold;
    letter-spacing: 1px;
}

.content__feed__type__box__bottom img {
    width: 80px;
    width: 90%;
    height: 150px;
    margin: 8px auto 8px;
    object-fit: cover;
    box-shadow: 0 2px 5px black;
}

@media screen and (min-width: 786px) {
    .content__feed__type__box__bottom {
        width: 25%;
    }

    .content__feed__type__box__bottom p {
        font-size: 0.9rem;
    }
}