.content__feed__type__box__bottom {
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 2px 5px black;
    border-radius: 2px;
    /* background-color: rgb(28, 133, 151); */
    /* background-color: rgb(44, 180, 39); */
    color: white;
}

.content__feed__type__box__bottom a {
    font-size: 0.7rem;
    color: rgb(217, 230, 218);
    font-weight: bold;
    letter-spacing: 1px;
}

.content__feed__type__box__bottom a:hover {
    color: white;
}

.content__feed__type__box__bottom img {
    width: 80px;
    margin: 8px auto 8px;
    border-radius: 50%;
    height: 70px;
    object-fit: cover;
    box-shadow: 0 2px 5px black;
}

@media screen and (min-width: 786px) {
    .content__feed__type__box__bottom {
        width: 25%;
    }

    .content__feed__type__box__bottom a {
        font-size: 0.9rem;
    }

    .content__feed__type__box__bottom img {
        width: 100px;
        height: 100px;
    }
}