.training__day__form__middle {
    padding: 10px;
    margin: 20px 5px;
}

.training__day__form__middle {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 22px black;
    background-color: rgb(95, 90, 90);
}

.training__day__form__middle__workout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
}

.training__day__form__middle__workout select {
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Rampart One', cursive;
    box-shadow: 0 2px 15px black;
}

.training__day__form__middle__workout__image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.training__day__form__middle__workout__image img {
    max-width: 200px;
    height: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.training__day__form__middle__workout__image__dumbbell__icon {
    padding: 10px;
    color: white;
    color: rgb(204, 245, 110);
    font-size: 3rem;
}

@media screen and (min-width: 786px) {

    .training__day__form__middle {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
    }

    .training__day__form__middle__workout {
        flex: 1;
        flex-direction: row;
    }

    .training__day__form__middle__workout select {
        font-size: 1.2rem;
        padding: 5px 20px;
    }

    .training__day__form__middle__workout__image {
        flex: 1;
    }

    .training__day__form__middle__workout__image img {
        max-width: 350px;
    }

    .training__day__form__middle__workout__image__dumbbell__icon {
        font-size: 5rem;
    }
}