.content__feed__type__box {
    width: 75%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(54, 51, 51);
    /* background-color: rgba(0, 0, 0, 0.1); */
    color: black;
}

@media screen and (min-width: 786px) {
    .content__feed__type__box {
        flex-direction: row;
        width: 95%;
    }
}