.about__link__to__content {
    text-decoration: underline;
    font-weight: bold;
    color: blue;
    padding: 1px 5px;
    border-radius: 5px;
}

.about__link__to__content:hover {
    color: rgb(135, 135, 221);
}

.content h1 {
    color: "red"
}

/* .user__highlights,
.connections__highlights,
.messages__highlights,
.create__highlights,
.content__visibility__highlight,
.overview__highlights {
    background-color: rgb(051, 51, 51);
    color: rgb(204, 245, 110);
    padding: 1px 4px;
    margin: 5px;
    border-radius: 5px;
} */