.workout__manual__container {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.workout__manual__start__movement__finish__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout__manual__movement {
    margin: 10px 5px;
    padding: 5px;
    box-shadow: 0 2px 10px black;
    background-color: black;
    border-radius: 5px;
    width: 80%;
    height: 250px;
}

.workout__manual__movement div {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout__manual__movement h4 {
    font-size: 1rem;
    margin: 0 0 8px;
    font-style: italic;
    border-bottom: 3px solid rgb(204, 245, 110);
    color: white;
}

.workout__manual__movement img {
    width: 90%;
    height: 75%;
    border-radius: 4px;
    object-fit: cover;
}


/* MUSCLE GROUPS */
.workout__manual__muscle__groups__container {
    padding: 10px;
    width: 95%;
    margin: 20px auto;
}

.workout__manual__muscles h4 {
    margin: 10px 0;
    font-style: italic;
    border-left: 3px solid greenyellow;
    background-color: rgb(54, 51, 51);
    color: white;
    margin-right: 40px;
}

.workout__manual__muscles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 2px 10px rgb(54, 51, 51);
    border-radius: 5px;
    background-color: rgb(54, 51, 51);
    padding: 5px;
}

.workout__manual__muscles p {
    margin: 8px;
    padding: 5px 10px;
    min-width: 60px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    color: greenyellow;
    background-color: rgb(54, 51, 51);
    box-shadow: 0 2px 15px black;
    font-size: 0.8rem;
}

/* DESCRIPTION */
.workout__manual__workout__description__container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout__manual__description,
.workout__manual__video {
    padding: 20px;
    margin: 2px;
}

.workout__manual__description {
    text-align: justify;
    font-size: 0.9rem;
    background-color: whitesmoke;
}

.workout__manual__video {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout__manual__video iframe {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .workout__manual__start__movement__finish__container {
        flex-direction: row;
    }

    .workout__manual__movement {
        margin: 10px 5px;
        padding: 5px;
        box-shadow: 0 2px 10px black;
        border-radius: 5px;
        width: 20%;
        height: 300px;
    }

    /* MUSCLE GROUPS */
    .workout__manual__muscle__groups__container {
        width: 65%;
    }

    .workout__manual__muscle__groups__container h4 {
        font-size: 1.3rem;
    }

    .workout__manual__muscles p {
        font-size: 1rem;
    }

    /* DESCRIPTION */
    .workout__manual__workout__description__container {
        flex-direction: row;
    }

    .workout__manual__description,
    .workout__manual__video {
        width: 48%;
    }

    .workout__manual__description {
        font-size: 1.1rem;
    }

    .workout__manual__video {
        height: 285px;
    }

}