.message__feed__container {
    margin-top: 5px;
    max-height: 100px;
}

.message__feed__left,
.message__feed__right {
    font-size: 0.6rem;
    padding: 1px 5px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.message__feed__left p,
.message__feed__right p {
    margin: 0;
    padding: 4px 10px;
    border-radius: 10px;
    max-width: 49%;
    color: white;
}

.message__feed__left p:nth-child(1) {
    background-color: rgb(112, 108, 102);
    width: max-content;
}

.message__feed__right p:nth-child(1) {
    background-color: rgb(97, 114, 93);
    margin-left: auto;
}

.message__feed__left p:nth-child(2) {
    margin-right: auto;
}

.message__feed__right p:nth-child(2) {
    margin-left: auto;
}

.message__feed__left p:nth-child(2),
.message__feed__right p:nth-child(2) {
    color: black;
    font-size: 0.5rem;
    font-style: italic;
}



@media screen and (min-width: 768px) {

    .message__feed__container {
        margin: 25px auto;
        width: 42%;
    }

    .message__feed__left,
    .message__feed__right {
        font-size: 0.8rem;
    }

    .message__feed__left p,
    .message__feed__right p {
        padding: 10px;
    }

    .message__feed__left p:nth-child(2),
    .message__feed__right p:nth-child(2) {
        font-size: 0.6rem;
    }
}