.message__feed__send__message {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

.message__feed__send__message textarea {
    border: 1px solid white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70px;
    resize: none;
    border-radius: 15px;
}

.message__feed__send__message textarea:focus {
    border: 1px solid rgb(204, 245, 110);
    outline: none;
}

.message__feed__send__message button {
    border: none;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
}

@media screen and (min-width: 768px) {
    .message__feed__send__message {
        width: 45%;
    }

    .message__feed__send__message button {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        font-size: 1.1rem;
        padding: 5px 15px;
    }

    .message__feed__send__message button:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}