.content__feed__display__container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
}

@media screen and (min-width: 786px) {
    .content__feed__display__container {
        flex-direction: row;
    }
}