.activity__block__container {
    max-height: 1200px;
    overflow: auto;
}

.last__activity__title {
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 2px solid whitesmoke;
}

@media screen and (min-width: 786px) {
    .activity__block__container {
        width: 25%;
    }
}