/* ********************
        FONTS
*************************/
/* NAVIGATION FONT font-family: 'Bebas Neue', cursive; */
/* BRAND FONT - font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

/*
main green color - 
rgb(204, 245, 110);

main background - 
rgba(0, 0, 0, 0.7);

background for login, signup buttons
background-color: rgb(124, 100, 100);
*/


.app {
    position: relative;
}

.navigation_feed {
    display: flex;
    flex-direction: column;
    position: relative;
}

.feed-isLogged {
    width: 95%;
    height: 400px;
    margin: 20px auto;
}

.feed-notLogged {
    width: 95%;
    margin: 20px auto;
}

@media screen and (min-width: 768px) {
    .navigation_feed {
        flex-direction: row;
    }

    .feed-isLogged {
        width: 90%;
        height: 400px;
        margin-left: 90px;
    }
}