.public__feed__container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.public__content__for__feed__no__data {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.public__feed__content__container {
    margin: auto;
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
}

.public__content__for__feed {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 1800px;
    overflow: auto;
}



@media screen and (min-width: 786px) {
    .public__feed__container {
        max-width: 75%;
        margin-left: 0;
    }

    .public__content__for__feed__no__data {
        height: 600px;
        font-size: 1.3rem;
    }

    .public__feed__content__container {
        width: 99%;
        flex-direction: row;
    }

    .public__content__for__feed {
        width: 65%;
        margin: 0 auto;
    }
}