.all__conversations__container {
    max-width: 95%;
    padding: 15px;
    margin: 0 auto;
}

.no__conversations {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin: 100px auto;
    font-size: 0.7rem;
    border-radius: 5px;
    max-width: 50%;
    padding: 10px;
}


@media screen and (min-width: 768px) {
    .all__conversations__container {
        max-width: 70%;
    }

    .no__conversations {
        font-size: 2.1rem;
        max-width: 70%;
    }
}