.create__option__container {
    width: 120px;
    height: 170px;
    margin: 5px;
    background-size: cover;
    border: 5px solid rgb(119, 143, 62);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 5px black;
}

.link__to__create__option {
    text-decoration: none;
    color: black;
    margin: 2px;
}

.create__option__name {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(235, 227, 227);
    background-color: black;
    max-width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 80px auto;
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .create__option__container {
        width: 150px;
        height: 210px;
        margin: 5px;
    }

    .link__to__create__option {
        margin: 15px;
    }

    .create__option__name {
        font-size: 1.3rem;
        background-color: rgba(0, 0, 0, 0.664);
    }

    .link__to__create__option:hover {
        cursor: pointer;
        transform: scale(1.1)
    }

    .link__to__create__option:hover .create__option__name {
        font-size: 1.4rem;
        letter-spacing: 2px;
        background-color: black;
    }
}