.user__profile__content__container {
    width: 80%;
    margin: 0 auto;
}

.user__profile__button__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.content__choose__button {
    width: 60%;
    margin: auto;
    border: none;
    margin-top: 8px;
    padding: 5px;
    background-color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.choose__button__active {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

/* USER DONT HAVE STORIES */
.user__no__stories {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 0 12px black;
    background-color: whitesmoke;
}

@media screen and (min-width: 768px) {
    .user__profile__button__container {
        flex-direction: row;
        border-bottom: 1px solid rgb(204, 245, 110);
    }

    .content__choose__button {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .content__choose__button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }
}